/***************************************************      TODO Container      *********************************************************/
body {
    z-index: 0;
}

.todo-container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #0066FF, #A4C2F4);
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    height: auto;
}

.todo-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.row {
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    flex-direction: column;
    /* Stack input and button vertically */
    align-items: center;
}

.row input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 20px;
    font-weight: 14px;
    width: 100%;
}

.row1 .btn {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #0066FF;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    width: 100%;
    margin-top: 10px
}

.row1 .btn:hover {
    width: 100%;
    /* Make the button full width */
    margin-top: 10px;
    background-color: #0033cc;
    transition: background-color 0.3s ease;
}

ul li {
    position: relative;
    list-style: none;
    font-size: 17px;
    cursor: pointer;
    text-align: center;
    display: flex;
}

.Ul1 li {
    padding-top: 20px;
}

#myUL {
    position: absolute;
    z-index: 1;
    border: 1px solid #ddd;
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
    width: 280px;
    height: auto;
    overflow-y: scroll;
}

#myUL li {
    text-align: start;
    /* Add a border to all links */
    margin-top: -1px;
    /* Prevent double borders */
    background-color: #f6f6f6;
    /* Grey background color */
    padding: 12px;
    /* Add some padding */
    text-decoration: none;
    /* Remove default text underline */
    font-size: 18px;
    /* Increase the font-size */
    color: black;
    /* Add a black text color */
    display: block;
    /* Make it into a block element to fill the whole list */
    cursor: pointer;
}

#myUL li:hover:not(.header) {
    background-color: #eee;
    /* Add a hover effect to all links, except for headers */
}